apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
  labels:
    app: student-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
      - name: student-app-container
        image: <ECR-IMAGE-URL>
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "200m"
            memory: "100Mi"
          limits:
            cpu: "500m"
            memory: "200Mi"
